{% extends 'base.html.twig' %}

{% block body %}
    <h1>Crear Nuevo Usuario</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ form_label(form.guardar) }}</button>
    {{ form_end(form) }}
{% endblock %}